@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    @ViewData["AddressLine1"]<br />
    @ViewData["AddressLine2"]<br />
    @ViewData["AddressLine3"]
</address>

<address>
    Tel: @ViewData["Telephone"]<br />
    Email: @ViewData["Email"]
</address>
